# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Project File
.idea/*
.vscode/*

# output
output/*
output-new/*
data/origin-JOB-lite-old
*.pkl
*.log

# Data
/data/dmv/*
/data/forest/*.csv
/data/job-light/*.csv
/data/power/*.csv
*.tgz
